<div class="card mx-5 my-4" id="{{_id}}">
    <div class="card-body">
        <h5 class="card-title text-body-emphasis">{{authorUsername}}</h5>
        <h6 class="card-subtitle mb-2">{{createTime}}</h6>

        <p class="card-text">{{textContent}}</p>
    </div>
</div>
