<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}} - Tweeter</title>
    {{!-- <link rel="stylesheet" href="/public/css/styles.css"> --}}
</head>

<body>
    <main>
        {{{body}}} 
    </main>
</body>

</html>
