<h1>Welcome to Tweeter</h1>

<h2>Share your music tastes with the world.</h2>

<p>Tweeter is revolutionizing how you share your music. Link your accounts and make posts centered around your favorite music.</p>

<p>Posts can be centered around your own personal playlists, or your favorite album, or whatever song you're listening to. Log in, or sign up now to get started.</p>

<button>
    <a href="/signup">Sign Up</a>
</button>

<button>
    <a href="/login">Log In</a>
</button>


