<div class="container text-center py-5 px-3" id="titleContainer">
    <h1 class="display-3 text-body-emphasis fw-medium">Welcome to Tweeter</h1>
    <h2 class="display-6 text-body-secondary">Share your music tastes with the world.</h2>
</div>


<div class="container text-center py-5 px-2" id="bodyContainer">
    <p class="fs-4">Tweeter is revolutionizing how you share your music. Link your accounts and make posts centered around your favorite music.</p>
    <p class="fs-4">Posts can be centered around your own personal playlists, or your favorite album, or whatever song you're listening to. Log in, or sign up now to get started.</p>
</div>


<div class="container text-center py-5 px-3" id="buttonContainer">
    <a href="/signup" role="button" class="btn btn-primary">Sign Up</a>
    <a href="/login" role="button" class="btn btn-light">Log In</a>
</div>




