<h1> Welcome </h1>
<h2> Messages, where all the magic happens </h2>
<form action="/messages" method="POST">
  <div class="form-group">
    <label for="message">New Message:</label>
    <input type="text" id="message" name="message" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>
{{#each messages}}
    <div>
        <h5>From: {{fromUser}}</h5>
        <h6>Time: {{time}}</h6>
        <p>{{message}}</p>
    </div>
{{/each}}