<h1>Search all of Tweeter</h1>


<form action="/search" method="POST" id="searchForm"> 
<label for="searchType">
    What would you like to search for?
</label>
<select id="searchType" name="searchType">
            <option value="users">Users</option>
            <option value="playlists">Playlists</option>
        </select>
<input type="text" id="searchText">
<input type="submit" value="Search">
</form>