
<div id="signupDiv">
    <div id="error" class="error" hidden>Error will be written here.</div>
    <form method="POST" id="signup" action="/">
        <ul id="user_fields">
            <div id="usernameError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
            <li>
                <input id="userName" type="text" placeholder="Enter username here">
            </li>
            <div id="displayError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
            <li>
                <input id="displayName" type="text" placeholder="Enter display name here">
            </li>
            <div id="passwordError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
            <li>
                <input id="userPassword" type="password" placeholder="Enter password here">
            </li>
            <!--add birthday field -->
            <div id="birthError" class="error" hidden>Hi</div>

            <label for="user_month">Input birthday:</label>
            <input type="date" id="dateOfBirth" >
            
            <div id="monthError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
            <div id="dayError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
            <div id="yearError" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
        <label for="profileOptions">Choose if you want your profile to be public or private:</label>
        <div id="profileOptions">
        <input type="radio" id="public" value="public" name="privacy" checked>
        <label for="public">Public</label><br>
        <input type="radio" id="private" value="private" name="privacy">
        <label for="private">Private</label>
        </div>
        </ul>
        <button type="submit">Submit</button>
    </form>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/public/js/signup_validation.js'></script>
